
# Python virtual environment
.venv/
venv/

# Python cache files
__pycache__/
*.pyc

# Mac files
.DS_Store

# Environment variables
.env

# Weather data

# Ignore downloaded weather data
data/*.csv

# Allow generated graphs
!data/
!data/*.png

# Ignore cache files
.cache.sqlite
